<!-- <app-author></app-author>

<app-favaurate [active] = "post.selected" (change)="updateFav()" ></app-favaurate><br>
<app-rating></app-rating>

<app-panel>
    <ng-container class="heading">
        hello I am head of skull
    </ng-container>
    <ng-container class = "body">
        and I am rest part!
    </ng-container>
</app-panel>

<app-like [body]="tweet.body"
          [isLiked]="tweet.isLiked"
          [likeCount]="tweet.likeCount">
</app-like>

<app-author-selector></app-author-selector>

<input type='text' appNameFormat [case]="U"> -->

<!-- <app-instructor-course-form></app-instructor-course-form> -->
<!-- <app-signup-form></app-signup-form> -->
<!-- <app-new-course></app-new-course> -->
<!-- <<app-change-password></app-change-password> -->
<!-- <app-posts></app-posts> -->


<!-- <app-github-followers></app-github-followers> -->
<app-navbar></app-navbar>
<router-outlet> </router-outlet>